<html lang="ja">
  <head>
    {% with ogp_type = 'article', ogp_title = '芝山町QUIZおわり' %} {% include
    'ogptags.html' %} {% endwith %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>芝山町QUIZ | 22冬-春の芝山寺子屋プロジェクト</title>
  </head>
  <body class="h-100 d-flex flex-column">
    {% include 'headerbar.html' %}
    <div
      class="flex-grow-1 d-flex flex-column justify-content-center align-items-center"
    >
      <h3 class="display-3">終了</h3>
      <p class="text-dark">お疲れ様でした！これにて芝山町QUIZは終了です。</p>
      <a href="index.html" class="btn btn-dark">ホームへ</a>
    </div>
  </body>
</html>
